.Rproj.user
.Rhistory
.Rprofile
.RData
.Ruserdata
*.xlsx
educational_cv/
*.docx
*.doc
*.RData
private*.Rmd
*.log
*.TEX
*.PDF
!resume.pdf
uhd.Rmd
uhd.html
Inductive_deductive 5.png
!scholar_pubs.RData
!scholar_profile.RData